.title {
    font-weight: bolder;
    color: #0072F9;
}

.PVTop {
    padding-left: 8%;
}

.GETop {
    position: relative;
}

.GETopLeft {
    display: inline-block;
    width: 60%;
    padding-left: 8%;
}

.GETopRight {
    display: inline-block;
    width: 140px;
    text-align: center;
    left: 86%;
    top: 35%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    /* 水平居中，垂直居中*/
    transform: translate(-50%, -50%);
    /* 水平居中，垂直居中*/
}

.GELink {
    background-color: #0072F9;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 30px;
    height: 30px;
    width: 50px;
    padding: 8px;
    text-decoration: none;
}

.description {
    font-size: 16px;
}

.videoInfo {
    text-align: center;
}

.video {
    display: inline-block;
    border-style: solid;
    border-width: 20px;
    border-radius: 18px;
    border-color: dodgerblue;
}

.detailTitle {
    font-size: 24px;
    color: #0072F9;
}

.detailText {
    font-size: 16px;
    padding-right: 10%;
}

.GameDes {
    display: flex;
    align-items: top;
    background-image: url("https://static.igem.wiki/teams/4272/wiki/gamebkg.png");
    background-repeat: no-repeat;
    background-size: 400px;
    height: 900px;
    position: relative;
    z-index: -1;
}

.conceptTitle {
    font-size: 24px;
    color: #0072F9;
    padding-left: 8%;
}

.conceptText {
    font-size: 18px;
    padding-left: 8%;
}

.concept {
    width: 45%;
    display: inline-block;
}

.logicTitle {
    font-size: 24px;
    color: #0072F9;
    padding-left: 5%;
}

.logicText {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
}

.logic {
    width: 45%;
    display: inline-block;
}

.hori-line {
    width: 60%;
    height: 60%;
    border-right: solid #000000 1px;
}

.hori-line-div {
    width: 10%;
    padding-top: 3%;
    display: inline-block;
}

.BrochureTitle {
    font-size: 24px;
    color: #0072F9;
    padding-left: 5%;
}

.BrochureText {
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
}

.Brochure {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -22%;
}

.BrochureRec {
    background-color: #EEF3F5;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 50px;
}

.BroImgs {
    display: flex;
    justify-content: space-around;
}

.BrochureDiv {
    display: inline-block;
}

.BrochureImg {
    display: inline-block;
    position: relative;
    z-index: 999;
}

.BrochureImg:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 0 0;
}

.BrochureImg1 {
    display: inline-block;
    position: relative;
    z-index: 999;
}

.BrochureImg1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 -50px 40px -30px black inset;
}

.imgWords {
    display: flex;
    justify-content: space-around;
}

.imgWord {
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    opacity: 0%;
}